* {
	box-sizing: border-box;
}

body {
	font-size: 1em;
	line-height: 1.5em;
}

.page-container {
	width: 960px;
	max-width: 100%;
	margin:auto;
}

.toggle-menu {
	position:fixed;
	right:2em;
	top:1em;
	cursor: pointer;
}

.nav-container {
	position:fixed;
	right:-300px;
	top:0;
	border-left:1px solid #000;
	height:100vh;
	width:300px;
	background:#fff;
	transition:right .4s ease-out;
	z-index:9;
}

#main-menu {
 margin-top:5em;
 padding:0;
}

.menu-item {
	list-style: none;
	text-align: center;
	margin-bottom: 10px;
}

.menu-item a {
	display:block;
	padding:10px 20px;
	text-decoration: none;
	transition:background .3s;
	color:#000;
}

.menu-item a:hover {
	background:#000;
	color:#fff;
}

.menu-content {
	padding:20px;
}

.content {
	padding:25px;
}

.slider-container,
.cookie-details {
	width:100%;
	padding:25px;
	border:1px solid #000;
	border-radius:4px;
	margin-bottom:25px;
	overflow: hidden;
}

.slides {
    list-style: none;
    height: 100%;
    width: 300%; 
    position: relative;
    left: 0px;
    cursor:pointer;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
 
.slide {
    float: left;
    position: relative;
    width:33.333333%;
}

.slide img {
	width:100%;
	max-width:100%;
	height:auto;
}

.slider-controls {
	font-size: 2em;
}

.slider-controls-right {
	float:right;
}

.slider-controls-right,
.slider-controls-left {
	cursor:pointer;
}

#contact-form input,
#contact-form textarea{
	width:100%;
	margin-bottom:1.5em;
}